<div class="list-group">
  <a href="<%= collection_items_path(side_nav.object) %>" class="list-group-item <%= side_nav.show_active_tab(:items) %>">
    <i class="glyphicon glyphicon-picture"></i>
    Items
  </a>
  <a href="#" class="list-group-item <%= side_nav.show_active_tab(:exhibits) %>">
    <i class="glyphicon glyphicon-th-large"></i>
    Exhibits
  </a>
  <a href="<%= edit_collection_path(side_nav.object) %>" class="list-group-item <%= side_nav.show_active_tab(:settings) %>"><i class="glyphicon glyphicon-cog"></i> Settings</i></a>
</div>
