<div class="list-group">
  <a href="<%= exhibit_showcases_path(side_nav.object) %>" class="list-group-item <%= side_nav.show_active_tab(:showcases) %>">
    <i class="glyphicon glyphicon-picture"></i>
    Showcases
  </a>
  <a href="#" class="list-group-item <%= side_nav.show_active_tab(:exhibits) %>">
    <i class="glyphicon glyphicon-th-large"></i>
    Collection
  </a>
  <a href="<%= edit_exhbit_path(side_nav.object) %>" class="list-group-item <%= side_nav.show_active_tab(:settings) %>"><i class="glyphicon glyphicon-cog"></i> Settings</i></a>
</div>
